<p><%= @player1 %> VS <%= @player2  %></p>
<br>
<p><%= @player1 %> HP = <%= session[:hp1] %> </p>
<p><%= @player2 %> HP = <%= session[:hp2]%></p>

<form action="/attack_player_2" method="post">
  <input type="submit" value="Attack">
</form>
